.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj
TODO.md
docs
*.o
*.so
*.dll
*.dylib
*.gcda
*.gcno
*.gcov
.valgrind_ignore
inst/doc
pkgdown
threemc.Rproj
.#*
R/.#*
..Rcheck

# vignettes: Ignore csvs and .rds files
vignettes/*.csv.gz
vignettes/*.csv
vignettes/*.rds

# ignore misc directory, which contains scripts for generating example data, etc
misc/
